@font-face {
  font-family: 'vrs shippori';
  font-style: normal;
  src: url(/assets/fonts/Shippori_Antique_B1/ShipporiAntiqueB1-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'vrs rubik';
  font-style: normal;
  src: url(/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf) format("truetype");
}
