    .vrs-contact {
        height: 100%;
        @include flexbox();
        @include flex-direction(column);
        @include align-items(space-between);
        gap: $default-padding;

        &__location {
            margin: $default-margin 0;
            &__name {
                font-weight: 600;
                font-size: $huge-font-size;
            }

            p {
                margin: 0;
            }
        }

        &__phone-email {
            font-size: $extra-huge-font-size;
            &__element {
                @include flexbox();
                img {
                    width: 20px;
                    margin-right: $default-margin;
                }
            }
        }

        h2 {
            margin: 0;
            margin-top: $double-margin;
        }
    }

    @media (max-width: 600px) {
        .vrs-contact {
            padding-top: unquote($nav-height-mobile-value  + calc(1 * $default-margin-value) + 'px ');
            margin: 0 $double-margin;

            &__phone-email {
             font-size: $huge-font-size;
             }
        }
    }

    @media screen and (min-width: 601px){
        .vrs-contact {
            width: 50%;
            padding: 100px 20px;

            &__location {
                margin: $double-margin 0;
            }
        }
    }

    @media screen and (min-width: 601px) and (max-height: 460px) {
        .vrs-contact {
            padding: 20px;

            &__location {
                margin: 0 0;
            }

            &__phone-email {
                font-size: $extra-large-font-size;
            }
        }
    }