html, body {
  font-family: 'vrs rubik';
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
}

::-moz-selection {
  background-color: $pink;
}

::selection {
  background-color: $pink;
}

@media(min-width: 601px) {
	.container{ 
    @include flexbox();
    height: 100vh;
    overflow: hidden;
   }
   
   .main {
     width: 80%;
     overflow-y: scroll;
     border: $double-border;
   }
}

@media screen and (min-width: 601px) and (max-height: 460px) {
  .main {
    width: 88%;
  }
}