html, body {
  font-family: 'vrs rubik';
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

@media(max-width: 600px) {
  // .main {
  //   padding-top: unquote($nav-height-mobile-value  + calc(2 * $default-margin-value) + 'px ');
  // }
}

@media(min-width: 601px) {
	.container{ 
    @include flexbox();
    height: 100vh;
    overflow: hidden;
   }
   
   vrs-nav {
     width: 20%
   }

   .main {
     width: 80%;
     overflow-y: scroll;
     border: $double-border;
   }
}
